@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background-color: #FFFAF4;
    --header-color: #FDF3EB;
    --section-color1: #FBDFC1;
    --section-color2: #E6A99A;
    --text-color1: #E6A99A;
    --text-color2: #FFEBDB;
    --input-color: #FEF1D9;
    --button-color: #E6A99A;
    --image-color: #FFEBDB;
    --hover-color:#E6A99A;
    --hover-text-color: #ffffff;
    --hover-button:#ffc4b7;
    --hover-button-text:#fdebfd;

    --font: 'Poppins', Arial, Helvetica, sans-serif;
}

html, body {
    overflow-x: hidden;
}

body, nav, ul, li, a, h1, p {
    margin: 0;
    padding: 0;
    text-decoration: none;
} 

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: var(--font);
}

/* header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    max-width: 100%;
    height: 100px;
}


header #logo {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 60px;
    background-color: var(--image-color);
}

header #logo img {
    width: 50px;
    height: 50px; 
}

nav {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    height: 100%;
}

nav ul, nav li, nav a {
    font-size: 20px;
    color: var(--text-color1);
}

.static-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.MenuLista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
}

.MenuLista li {
    display: inline-block;
    align-content: center;
    text-align: center;
    height: 100%;
    
}

.MenuLista li a {
    display: inline-block;
    align-content: center;
    height: 100%;
    padding: 0px 20px;
    cursor: pointer;
}

.MenuLista li a:hover {
    color: var(--hover-text-color);
    background-color: var(--hover-color);
    cursor: pointer;
}

header button {
    background-color: var(--text-color1);
    height: 30px;
    border: none;
    padding: 6px;
    margin-left: 5px;
    border-radius: 5px;
    width: 100%;
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
}

header button:hover {
    cursor: pointer;
}

.nav-user {
    margin: 10px;
}


/* Banner */
.banner {
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 400px;
    background-color: var(--image-color);
}

.banner #titulo-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 40px;
}

.banner #titulo-banner h1 {
    font-size: 3.2rem;
    color: var(--text-color1);
}

.banner #titulo-banner p {
    font-size: 1.5rem;
    color: var(--text-color1);
}

.banner-img {
    background-image: url(../img/banner.png);
}

.menu-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 1000px;
}

.menu-options .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    background-color: var(--section-color1);
    cursor: pointer;
}

.menu-options .option h1, .option p {
    color: var(--text-color1);
    text-align: center;
    padding: 20px 20px 0px 20px
}


.menu-options .option:hover {
    box-shadow: 2px 2px 12px #aaaaaa52;
}

.menu-options .option img {
    background-color: var(--image-color);
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
}


main #titulo h1 {
    text-align: center;
    padding: 20px 40px;
    font-size: 50px;
    color: var(--text-color1);
}

/* Quem somos*/

.sobre {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 50px auto;
}

.sobre-img {
    background-image: url(../img/sobreimg.jpg);
    background-position: center;
}

main .texto1 {
    padding: 20px 30px;
    background-color: var(--section-color2);
    border-radius: 5px;
}

main .texto1 p {
    font-size: 20px;
    color: var(--text-color2);
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}


main .texto2 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 30px;
    border-radius: 5px;
}

main .texto2 p {
    font-size: 20px;
    color: var(--text-color1);
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

main .texto2 em {
    display: block;
    text-align: center;
    font-style: italic;
    color: var(--text-color1);
    font-size: 18px;
    margin-top: 30px;
}

/* Catalogo */

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    font-family: var(--font);
    gap: 16px;
    margin: 40px auto;
    max-width: 1200px;
}

.flores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--section-color1);
    min-width: 250px;
    max-width: 250px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #aaaaaa52;
    gap: 4px;
}

.flores h1 {
    font-size: 1.5rem;
}

.flores span {
    font-size: 1.2rem;
}

.flores button {
    background-color: var(--text-color1);
    height: 30px;
    border: none;
    padding: 4px;
    border-radius: 5px;
    width: 90%;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
}

.flores button:hover {
    background-color: var(--hover-button);
    cursor: pointer;
}

.flores img {
    width: 100px;
    height: 100px;
}

/* Modal */

@keyframes modalOpenImageAnimation {
    from {
        background-size: 50%;
    }
    to {
        background-size: 75%;
    }
}

@keyframes modalOpenAnimation {
    from {
        width: 40rem;
        height: 20rem;
    }
    to {
        width: 50rem;
        height: 30rem;
    }
}

#knowMore {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5;
    background-color: #00000080;
    width: 100%;
    height: 100%;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50rem;
    height: 30rem;
    background-color: var(--section-color1);
    border-radius: 5px;
    animation-name: modalOpenAnimation;
    animation-duration: 0.1s;
}

#modal-img {
    background-color: var(--image-color);
    width: 100%;
    height: 100%;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 0px 0px 5px;

    animation-name: modalOpenImageAnimation;
    animation-duration: 0.5s;
}

.modal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#modal-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    background-color: var(--button-color);
    color: var(--text-color2);
    cursor: pointer;
}

#modal-close-button:hover{
    background-color: var(--hover-button);
    color: var(--hover-text-color);
}



#modal-titulo, #modal-descricao, #modal-preco {
    text-align: center;
    padding: 20px 50px;
    margin: 0;
}

#modal-titulo {
    font-size: 3rem;
}

#modal-descricao {
    font-size: 1.25em;
}

#modal-preco {
    font-size: 2rem;
}

#modal-addshop-button {
    background-color: var(--button-color);
    color: var(--text-color2);
    border: none;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 90%;
    align-self: center;
}

#modal-addshop-button:hover {
    background-color: var(--hover-button);
    color: var(--hover-text-color);
}

/* contato */

.contato-img {
    background-image: url(../img/contatoimg.png);
    background-position: center;
}

/*login */
.login {
    margin: 50px auto;
    background-color: var(--image-color);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px #aaaaaa52;
    width: 100%;
    max-width: 400px;
}

.login h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color1);
    font-size: 40px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.input-group input {
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 6px;
}

.input-group label {
    color: var(--text-color1);
    padding-bottom: 2px;
}

.checklist-senha {
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: .5s ease;
}

.checklist {
    display: flex;
    align-items: center;
    position: absolute;
    list-style: none;
    font-size: 0.7rem;
    padding: 5px 10px;
    gap: 10px;
    height: 20px;
    margin-top: 5px;
    background-color: var(--header-color);
    border-radius: 5px;
}

.item-lista {
    color: #ff7777;
}

.item-lista.checked {
    color: #74bd74;
}

#senha:focus ~ .checklist-senha { /**/
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.submit-button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: var(--button-color);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.submit-button:hover {
    background-color: var(--hover-button);
}


.login-action {
    width: 100%;
    height: 100%;
    margin: auto;
}

.login-action th {
    background-color: var(--text-color1);
    border-radius: 5px;
    color: var(--background-color);
}

.login-action td {
    background-color: var(--background-color);
    text-align: center;
    border-radius: 5px;
    color: var(--text-color1);
}

.input-group a{
    text-align: center;
    color: #0000CD;
}

.input-group a:hover{
    text-align: center;
    color: #FFF;
}

/*carrinho */

.carrinho {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    padding: 20px;
    margin: 40px auto;
    background-color: var(--section-color1);
    border-radius: 10px;
}

.carrinho button {
    background-color: var(--text-color1);
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
}

.carrinho-flor {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 0.5fr;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.imagem-carrinho {
    width: 150px;
    height: 150px;
    background-color: var(--button-color);
    margin-right: 10px;
    border-radius: 10px;
}

.flor-info h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrinho-flor p {
    font-size: 20px;
}

.flor-valor {
    text-align: center;
}

.flor-valor h1{
    font-size: 25px;
}

.botao-comprar {
    text-align: center;
}